{% load static %}
<link rel="stylesheet" href="{% static 'sudhanshu/static/style.css' %}">


<section class="profiles" id="profiles">
    <h1 class="heading"> Available Freelancers </h1>
    <div class="box-container">


      <a href="{{user.profile.images.url}}" class="box">
        <div class="image">
          <img src="{{user.profile.images.url}}" alt="">
        </div>
        <div class="content">
          <div class="info">
            <h3>Wildcard xD</h3>
            <p>Thumbnail Design</p>
          </div>
          <i class="fas fa-plus"></i>
        </div>
      </a>

      <a href="{{user.profile.images.url}}" class="box">
        <div class="image">
          <img src="{{user.profile.images.url}}" alt="">
        </div>
        <div class="content">
          <div class="info">
            <h3>Wildcard xD</h3>
            <p>Thumbnail Design</p>
          </div>
          <i class="fas fa-plus"></i>
        </div>
      </a>

      <a href="{{user.profile.images.url}}" class="box">
        <div class="image">
          <img src="{{user.profile.images.url}}" alt="">
        </div>
        <div class="content">
          <div class="info">
            <h3>Wildcard xD</h3>
            <p>Thumbnail Design</p>
          </div>
          <i class="fas fa-plus"></i>
        </div>
      </a>

      <a href="{{user.profile.images.url}}" class="box">
        <div class="image">
          <img src="{{user.profile.images.url}}" alt="">
        </div>
        <div class="content">
          <div class="info">
            <h3>Wildcard xD</h3>
            <p>Thumbnail Design</p>
          </div>
          <i class="fas fa-plus"></i>
        </div>
      </a>

      <a href="{{user.profile.images.url}}" class="box">
        <div class="image">
          <img src="{{user.profile.images.url}}" alt="">
        </div>
        <div class="content">
          <div class="info">
            <h3>Wildcard xD</h3>
            <p>Thumbnail Design</p>
          </div>
          <i class="fas fa-plus"></i>
        </div>
      </a>
      
      <a href="{{user.profile.images.url}}" class="box">
        <div class="image">
          <img src="{{user.profile.images.url}}" alt="">
        </div>
        <div class="content">
          <div class="info">
            <h3>Wildcard xD</h3>
            <p>Thumbnail Design</p>
          </div>
          <i class="fas fa-plus"></i>
        </div>
      </a>
      

    </div>


</section>
